
.blogv3 {
    padding: 80px 0;
    .mb-4 {
        margin-bottom: 20px;
    }
    &__item {
        position: relative;
        overflow: hidden;
        img {
        transition: all 0.5s;
        }
        &__content {
            padding: 20px;
            background-color: antiquewhite;
            opacity: 0;
            transform: translateY(100%);
            position: absolute;
            top: auto;
            transition: all 0.5s;
            h3 {
                margin: 0;
            }
        }
        &:hover {
            img {
                transform: translateY(-50px);
            }
            .blogv3__item__content {
                opacity: 1;
                transform: translateY(0);
                bottom: 0;
            }
        }
        &__category {
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
        &__archive {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
    }
}