@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.blog {
  padding: 0 20px; }

.blog__post__item {
  position: relative;
  margin: 10px 0px;
  transition: all 0.3s; }
  .blog__post__item__img {
    position: relative; }
  .blog__post__item__img img {
    width: 100%; }
  .blog__post__item:before {
    background-color: #070215;
    position: absolute;
    width: 0;
    height: 100%;
    bottom: 0;
    content: '';
    z-index: 2;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden; }
  .blog__post__item:hover:before {
    opacity: 0.9;
    visibility: visible;
    width: 100%; }
  .blog__post__item__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    z-index: 5;
    text-align: center;
    visibility: hidden; }
    .blog__post__item__content a {
      text-decoration: none; }
  .blog__post__item__category {
    display: flex;
    justify-content: center;
    row-gap: 5px;
    column-gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 10px; }
    .blog__post__item__category a {
      font-size: 15px;
      padding: 6px 15px;
      border-radius: 5px;
      background-color: #585ae6;
      color: #fff;
      transition: all 0.3s;
      text-decoration: none;
      box-shadow: none; }
  .blog__post__item__title {
    text-decoration: none;
    line-height: 32px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 22px;
    transition: 0.3s; }
  .blog__post__item__date {
    line-height: 1;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s; }

.blog__post__item:hover .blog__post__item__content {
  visibility: visible; }

.blog2 {
  margin-top: 20px;
  margin-bottom: 20px; }

.blog2 .blog2__item {
  position: relative; }
  .blog2 .blog2__item img {
    transition: all 0.5s;
    z-index: 999;
    width: 100%;
    transition: all 0.5s;
    margin-bottom: -6px; }
  .blog2 .blog2__item:hover img {
    transform: translateY(-40px) scale(0.5); }
  .blog2 .blog2__item__content {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #e77459ff !important; }
  .blog2 .blog2__item__main {
    height: 100%;
    width: 100%;
    color: #fff; }
  .blog2 .blog2__item__tag {
    margin-bottom: 15px;
    justify-content: flex-start;
    color: #fff; }
    .blog2 .blog2__item__tag a {
      color: #fff;
      text-decoration: none; }
  .blog2 .blog2__item__title {
    line-height: 28px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 19px;
    font-weight: 700; }
  .blog2 .blog2__item__button span {
    color: #fff;
    font-size: 14px;
    font-weight: 300; }
  .blog2 .blog2__item__button a {
    border: 1px solid #fff;
    background-color: transparent;
    padding: 6px 16px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s; }
  .blog2 .blog2__item__button {
    text-align: center;
    justify-content: space-between;
    display: flex; }

.blogv3 {
  padding: 80px 0; }
  .blogv3 .mb-4 {
    margin-bottom: 20px; }
  .blogv3__item {
    position: relative;
    overflow: hidden; }
    .blogv3__item img {
      transition: all 0.5s; }
    .blogv3__item__content {
      padding: 20px;
      background-color: antiquewhite;
      opacity: 0;
      transform: translateY(100%);
      position: absolute;
      top: auto;
      transition: all 0.5s; }
      .blogv3__item__content h3 {
        margin: 0; }
    .blogv3__item:hover img {
      transform: translateY(-50px); }
    .blogv3__item:hover .blogv3__item__content {
      opacity: 1;
      transform: translateY(0);
      bottom: 0; }
    .blogv3__item__category ul {
      padding: 0;
      margin: 0; }
      .blogv3__item__category ul li {
        list-style: none; }
        .blogv3__item__category ul li a {
          text-decoration: none; }
    .blogv3__item__archive {
      display: flex;
      align-items: center;
      justify-content: space-between; }

.blog--item__item {
  position: relative;
  transition: all 0.3s; }
  .blog--item__item__im {
    position: relative; }
  .blog--item__item__im img {
    width: 100%; }
  .blog--item__item:after {
    background-color: #4fbb8eff;
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    content: "";
    z-index: 2;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden; }
  .blog--item__item__conten {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    z-index: 5;
    text-align: center;
    visibility: hidden; }
    .blog--item__item__conten a {
      text-decoration: none; }
  .blog--item__item:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%; }
  .blog--item__item:hover .blog--item__item__conten {
    visibility: visible; }
  .blog--item__item__categor {
    display: flex;
    justify-content: center;
    row-gap: 5px;
    column-gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 10px; }
    .blog--item__item__categor a {
      font-size: 15px;
      padding: 6px 15px;
      border-radius: 5px;
      background-color: #45AA80;
      color: #fff;
      transition: all 0.3s;
      text-decoration: none;
      box-shadow: none; }
  .blog--item__item__titl {
    text-decoration: none;
    line-height: 32px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 22px;
    transition: 0.3s; }
  .blog--item__item__dat {
    line-height: 1;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s; }

.blog__post__item:hover .blog__post__item__content {
  visibility: visible; }

.owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-100%);
  margin-top: -385px; }

.owl-dot.active {
  background-color: #fff !important; }

.blog .owl-dot {
  width: 15px;
  height: 15px;
  border: 1px solid #ddd !important;
  display: inline-block;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 2px; }

.blog3__post__item {
  position: relative;
  overflow: hidden; }
  .blog3__post__item__img {
    position: relative; }
  .blog3__post__item__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: #f0db7fff;
    color: #fff;
    padding: 30px;
    text-align: left;
    transition: all 0.5s;
    transform: translateY(100%); }
  .blog3__post__item:hover .blog3__post__item__content {
    opacity: 1;
    transform: translateY(0); }
  .blog3__post__item__category {
    margin-bottom: 15px;
    justify-content: flex-start; }
    .blog3__post__item__category a {
      font-size: 14px;
      color: #2f2f2f;
      text-decoration: none;
      font-weight: 400; }
  .blog3__post__item__title {
    line-height: 28px;
    color: #2f2f2f;
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none; }
    .blog3__post__item__title h3 {
      text-decoration: none; }
  .blog3__post__item__date span {
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 400; }
  .blog3__post__item__date a {
    border: 1px solid #2f2f2fff;
    background-color: #2f2f2fff;
    color: #fff;
    padding: 6px 16px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 120px; }

.owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-100%);
  margin-top: -350px; }

.owl-dot.active {
  background-color: #222 !important; }

.blog .owl-dot {
  width: 15px;
  height: 15px;
  background-color: #ddd;
  display: inline-block;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 2px; }

.pagination {
  margin-bottom: 70px;
  text-align: center;
  margin-top: 60px; }
  .pagination a {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #222;
    color: #222;
    margin-right: 5px;
    border-radius: 5px;
    transition: 0.3s; }
    .pagination a:hover {
      background-color: #4EC99F;
      border: 1px solid #4EC99F;
      color: #fff; }

.active {
  background-color: #4EC99F;
  border: 1px solid #4EC99F !important;
  color: #fff;
  border-radius: 5px; }
  .active:hover {
    color: #222 !important; }

.swiper-pagination-bullet {
  width: 15px;
  height: 15px; }

.carousel .mySwiper {
  padding-bottom: 50px; }

.blog {
  margin-top: 20px; }

.blog2__item {
  position: relative; }
  .blog2__item__img {
    position: relative;
    transition: all 0.5s;
    z-index: 999; }
    .blog2__item__img img {
      width: 100%;
      transition: all 0.5s; }
    .blog2__item__img:hover img {
      transform: translateY(-60px) scale(0.5); }
  .blog2__item__content {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #41CB8C !important;
    padding: 20px; }
  .blog2__item__main {
    height: 100%;
    width: 100%;
    color: #fff; }
  .blog2__item__tag {
    margin-bottom: 15px;
    justify-content: flex-start;
    color: #fff; }
    .blog2__item__tag a {
      color: #fff;
      text-decoration: none; }
  .blog2__item__title {
    line-height: 28px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 19px;
    font-weight: 700; }
  .blog2__item__button span {
    color: #fff;
    font-size: 14px;
    font-weight: 300; }
  .blog2__item__button a {
    border: 1px solid #fff;
    background-color: transparent;
    padding: 6px 16px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s; }
  .blog2__item__button a:hover {
    background: #fff;
    color: #e77459ff; }
  .blog2__item__button {
    display: flex;
    justify-content: space-between;
    text-align: center; }

.carusel3 .blog2__item__content .blog2__item__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.carusel3 .amySwiper {
  padding-bottom: 50px; }

.blog3__post__item {
  position: relative;
  overflow: hidden; }
  .blog3__post__item__img {
    position: relative; }
  .blog3__post__item__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: #f0db7fff;
    color: #fff;
    padding: 30px;
    text-align: left;
    transition: all 0.5s;
    transform: translateY(100%); }
  .blog3__post__item:hover .blog3__post__item__content {
    opacity: 1;
    transform: translateY(0); }
  .blog3__post__item__category {
    margin-bottom: 15px;
    justify-content: flex-start; }
    .blog3__post__item__category a {
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      padding: 6px 15px;
      border-radius: 5px;
      font-weight: 400;
      background-color: #2f2f2f; }
  .blog3__post__item__title {
    line-height: 28px;
    color: #2f2f2f;
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none; }
    .blog3__post__item__title h3 {
      text-decoration: none; }
  .blog3__post__item__date span {
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 400; }
  .blog3__post__item__date a {
    border: 1px solid #2f2f2fff;
    background-color: #2f2f2fff;
    color: #fff;
    padding: 6px 16px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 120px; }

.pagination {
  margin-bottom: 70px;
  text-align: center; }
  .pagination a {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #222;
    color: #222;
    margin-right: 5px;
    border-radius: 5px;
    transition: 0.3s; }
    .pagination a:hover {
      background-color: #4EC99F;
      border: 1px solid #4EC99F;
      color: #fff; }

.active {
  background-color: #4EC99F;
  border: 1px solid #4EC99F !important;
  color: #fff;
  border-radius: 5px; }
  .active:hover {
    color: #222 !important; }

.masonary-v2__post__item {
  position: relative; }
  .masonary-v2__post__item__img {
    position: relative;
    z-index: 999;
    transition: 0.4s; }
  .masonary-v2__post__item__content {
    height: 155px;
    position: absolute;
    bottom: 0;
    top: auto;
    padding: 25px;
    color: #fff;
    background-color: #f5f5f5ff;
    left: 0;
    right: 0; }
  .masonary-v2__post__item__category {
    margin-bottom: 15px;
    justify-content: flex-start; }
    .masonary-v2__post__item__category a {
      font-size: 14px;
      background-color: #191970;
      color: #fff;
      padding: 6px 15px;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      transition: 0.3s; }
      .masonary-v2__post__item__category a:hover {
        background-color: #5858e5 !important; }
  .masonary-v2__post__item__title {
    margin-bottom: 15px;
    color: #262626;
    font-size: 19px;
    font-weight: 700; }
  .masonary-v2__post__item__date span {
    color: #262626;
    font-size: 14px;
    font-weight: 300; }
  .masonary-v2__post__item__date a {
    border: 1px solid #191970ff;
    text-decoration: none;
    background-color: #191970ff;
    color: #ffff;
    padding: 6px 16px;
    border-radius: 50px;
    font-size: 14px;
    transition: 0.3s; }
    .masonary-v2__post__item__date a:hover {
      background-color: #5858e5 !important;
      border: 1px solid #5858e5 !important; }

.masonary-v2__post__item:hover .masonary-v2__post__item__img {
  transform: translateY(-200px); }

.pagination {
  text-align: center; }
  .pagination a {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #222;
    color: #222;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s; }
    .pagination a:hover {
      background-color: #4EC99F !important;
      border: 1px solid #4EC99F !important;
      color: #fff !important; }

.active {
  background-color: #4EC99F;
  border: 1px solid #4EC99F !important;
  color: #fff;
  border-radius: 5px; }
  .active:hover {
    color: #222 !important; }

.pagi {
  margin-top: -150px; }

.masonary-v2__post__item__date {
  display: flex;
  justify-content: space-between;
  text-align: center; }

.masonary-v2__post__item {
  position: relative; }
  .masonary-v2__post__item__i {
    position: relative;
    z-index: 999;
    transition: 0.4s; }
  .masonary-v2__post__item__conten {
    height: 155px;
    position: absolute;
    bottom: 0;
    top: auto;
    padding: 25px;
    color: #fff;
    background-color: #5252ceff !important;
    left: 0;
    right: 0; }
  .masonary-v2__post__item.conte {
    background: #5252ceff; }
  .masonary-v2__post__item__category {
    margin-bottom: 15px;
    justify-content: flex-start; }
    .masonary-v2__post__item__category a {
      font-size: 14px;
      background-color: #191970;
      color: #fff;
      padding: 6px 15px;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      transition: 0.3s; }
      .masonary-v2__post__item__category a:hover {
        background-color: #191970; }
  .masonary-v2__post__item__title {
    margin-bottom: 15px;
    color: #262626;
    font-size: 19px;
    font-weight: 700; }
  .masonary-v2__post__item__date span {
    color: #262626;
    font-size: 14px;
    font-weight: 300; }
  .masonary-v2__post__item__date a {
    border: 1px solid #191970ff;
    text-decoration: none;
    background-color: #191970ff;
    color: #ffff;
    padding: 6px 16px;
    border-radius: 50px;
    font-size: 14px;
    transition: 0.3s;
    margin-left: 60px; }
    .masonary-v2__post__item__date a:hover {
      background-color: #191970ff;
      border: 1px solid #191970ff; }

.masonary-v2__post__item:hover .masonary-v2__post__item__i {
  transform: translateY(-50%); }

.pagination {
  text-align: center; }
  .pagination a {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #222;
    color: #222;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s; }
    .pagination a:hover {
      background-color: #4EC99F !important;
      border: 1px solid #4EC99F !important;
      color: #fff !important; }

.active {
  background-color: #4EC99F;
  border: 1px solid #4EC99F !important;
  color: #fff;
  border-radius: 5px; }
  .active:hover {
    color: #222 !important; }

.pagi {
  margin-top: -150px; }

.blog__post__it {
  position: relative;
  margin: 10px 0px;
  transition: all 0.3s; }
  .blog__post__it__image {
    position: relative; }
  .blog__post__it__image img {
    width: 100%; }
  .blog__post__it:before {
    background-color: #aa9918ff;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    content: '';
    z-index: 2;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden; }
  .blog__post__it:hover:before {
    opacity: 0.9;
    visibility: visible; }
  .blog__post__it__contents {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    z-index: 5;
    text-align: center;
    visibility: hidden;
    transition: 0.3s; }
    .blog__post__it__contents a {
      text-decoration: none; }
  .blog__post__it__icategory {
    display: flex;
    justify-content: center;
    row-gap: 5px;
    column-gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 10px; }
    .blog__post__it__icategory a {
      font-size: 15px;
      padding: 6px 15px;
      border-radius: 5px;
      background-color: #585ae6;
      color: #fff;
      transition: all 0.3s;
      text-decoration: none;
      box-shadow: none; }
  .blog__post__it__titles {
    text-decoration: none;
    line-height: 32px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 22px;
    transition: 0.3s; }
  .blog__post__it__datea {
    line-height: 1;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s; }

.blog__post__it:hover .blog__post__it__contents {
  visibility: visible; }

body {
  font-family: 'Poppins', sans-serif; }

a {
  color: #222; }

img {
  width: 100%;
  height: auto; }

.button__primary {
  padding: 8px 15px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: #d60000;
  transition: all 0.3s; }
  .button__primary:hover {
    background-color: #00074b; }

.mb-20 {
  margin-bottom: 20px; }
